.card__container {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.card__container__img {
  position: relative;
  border-radius: 6px;

  display: flex;
  overflow: hidden;
  margin-top: 10px;
}
.card__img {
  min-width: 100%;
  max-width: 100%;
}
.card__img:hover {
  filter: brightness(90%);
}
